body {
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: white; /* This sets the default background to a pastel blue */
  /* Center aligns everything */
}

:root {
  --pastel-blue: hsl(211, 66%, 83%);
  --pastel-pink: #f3d1dc;
  --pastel-yellow: #fdfd96;
  --pastel-green: #77dd77;
  --pastel-purple: #c3b1e1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo 2', cursive; /* This sets all heading tags to use the 'Baloo 2' font */
}

main {
  background-color: var(--pastel-blue); /* Replace with your preferred pastel background color */
  border-radius: 25px; /* This gives you the rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* This adds a subtle shadow around the main content area */
  margin: -8px auto 0; /* This pulls the main content area up to overlap the header border */
  padding: 2em; /* This adds some spacing inside the main content area */
  max-width: 1200px; /* Adjust the width as needed */
  position: relative; /* Ensure this is relative if you want to use z-index */
  z-index: 50; /* Lower than the header to appear beneath it */
}

.category-links a {
  text-decoration: none;
  color: var(--pastel-pink);
  font-family: 'Baloo 2', cursive;
  text-decoration: none;
  position: relative;
  /* Position relative for the underline effect */
  transition: color 0.3s ease;
}

.category-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  /* Adjust as needed */
  left: 0;
  background-color: #333;
  /* Color of the underline */
  transition: width 0.3s ease;
}

.category-links a:hover::after {
  width: 100%;
}

.category-links a:hover {
  color: var(--pastel-purple);
  color: #333;
  /* Keeps the text color the same on hover */
}

header {
  display: flex;
  flex-direction: column;
  
  background-color: white;
}

.header-hidden {
  top: -100%;
  /* Adjust if your header has a different height */
}

.logo {
  height: 150px;
  /* Adjust the size of your logo */
}

.category-nav {
  width: 100%; /* Stretch across the full width */
  order: 1;
  display: flex;
  justify-content: center; /* Horizontally centers the navigation */
  align-items: center;
  margin-bottom: 20px;
}

.category-links {
  display: flex;
  justify-content: center; /* Center category links */
  padding: 0;
  margin: 0;
  list-style: none;
  /* Centers the category links */
}

.category-links li {
  margin: 0 20px;
  /* Spacing between categories */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.logo-container, .search-container, .cart-icon {
  flex-basis: 33%; /* Adjust as needed */
}

.logo-container {
  order: 3; /* Ensures it's positioned last within the header */
  margin-left: auto; /* Pushes the logo container to the right */
  align-self: flex-end;
}

.search-container {
  /* Assuming similar width to cart-icon for balance */
  background: none;
  border: none;
  cursor: pointer;
  /* Adjust based on actual width of search and cart icon */
}

.cart-icon {
  /* Adjust based on actual width of search and cart icon */
  text-align: right;
  font-size: 24px;
  cursor: pointer;
  margin-right: 35px
}

.cart-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px; /* Adjust as needed */
  z-index: 15;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.cart-dropdown .cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.cart-dropdown .cart-items li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-items li {
  text-align: center;
}

.cart-icon:hover .cart-dropdown {
  display: block; /* Show dropdown on hover */
}

.decrement-cart-item {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px; /* Small button size */
  height: 20px;
  line-height: 20px; /* Vertically center the minus sign */
  text-align: center;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.cart-notification {
  position: fixed;
  right: -300px;
  top: 50px;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: right 0.5s ease;
  z-index: 1000;
}

.cart-notification.slide-in {
  right: 20px;
}

.cart-item-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}


.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

#search-bar {
  border: none;
  padding: 5px 35px 5px 35px;
  /* Adjusted padding for icon alignment */
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.search-container label {
  position: absolute;
  left: 10px;
  color: #333;
}

#search-bar:focus {
  background-color: #fff;
}

/* Adjust label color on focus */
#search-bar:focus+label i {
  color: #555;
}

.featured-section {
  display: flex;
  align-items: center; /* Aligns items vertically */
  justify-content: center; /* Centers items horizontally */
  flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
  margin: 0;
  padding: 0 50px; /* Adjust padding as needed */
}

.text-content {
  flex: 1;
  /* allows the content to grow */
  padding: 2em;
  /* adds padding on all sides */
  max-width: 50%;
  /* maximum width of the text content */
  margin: 0 auto;
  /* centers the text block horizontally */
  text-align: left;
  /* aligns text to the left */
  line-height: 1.6;
  /* adjusts line spacing for better readability */
}

.image-content {
  flex: 1;
  /* allows the image to grow */
  max-width: 50%;
  background-size: cover;
  background-position: center;
  height: 500px; /* Adjust based on your design *
  /* or adjust to your preference */
}

/* Adjust for when text is on the left */
.image-left .text-content {
  margin-left: auto;
  margin-right: 50px;
  /* Adjust the amount of margin as needed */

}

/* Adjust for when text is on the right */
.image-right .text-content {
  margin-right: auto;
  margin-left: 50px;
  /* Adjust the amount of margin as needed */

}

/* Responsive design adjustments */
@media screen and (max-width: 768px) {
  .text-content, .image-content {
    max-width: 100%; /* Each child takes full width */
    flex-basis: auto; /* Resets the initial length of flex items */
  }

  .image-content {
    height: 300px; /* Adjust height for smaller screens */
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Ensures consistent spacing */
  background-color: #fff;
  /* Optional: adds a clean background */
}

.product-item img {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  /* Fixed height for uniformity */
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.product-item h3 {
  font-size: 1.1em;
  color: #333;
  margin: 10px 0;
}

.product-item p {
  font-size: 0.9em;
  color: #666;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Limits text to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-price {
  font-size: 1em;
  color: #ff4081;
  /* Maintains brand color */
  margin: 5px 0;
}

.add-to-cart-btn {
  background-color: #ff4081;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #ff66a1;
}

.btn {
  background-color: #333;
  /* Button color */
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
  /* Button hover effect */
}

.product-link {
  text-decoration: none;
  /* Remove underlines from the anchor tags */
  color: inherit;
  /* Inherit text color from the parent */
}

.product-link:hover {
  text-decoration: none;
  /* Remove underlines on hover */
}
